.accordionInner {
    overflow: hidden;
    height: 0px;
    transition: none;
}

.accordionWrap {
    &.open .accordionInner {
        animation: AccopenAnime .5s forwards;
    }

    &.close .accordionInner {
        animation: AcccloseAnime .5s forwards;
    }

    .head {
        color: inherit;
    }
}

@keyframes AccopenAnime {
    0% {
        height: 0px;
    } 99% {
        height: var(--text-height);
    } 100% {
        height: auto;
    }
}

@keyframes AcccloseAnime {
    0% {
        height: var(--text-height);
    } 100% {
        height: 0px;
    }
}